<?xml version="1.0" encoding="UTF-8"?>

<!-- 60초마다 설정 파일의 변경을 확인 하여 변경시 갱신 -->
<configuration scan="true" scanPeriod="60 seconds">

  <!-- log-pattern -->
  <property name="LOG_PATTERN" value="[%-4level] [%d{yy-MM-dd HH:mm:ss}] [%logger{0}:%line] ==> %msg%n" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- root log set(Info) -->
  <root level="info">
    <appender-ref ref="CONSOLE" />
  </root>

</configuration>